
{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    {# {{ form_row(form) }} #}
  
    <div class="row">
        <label class="col-md-2 text-right">{{ form_label(form.titre) }}</label>
        <div class="col-md-7">
            <div class="form-group">
                 {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
      <div class="row">
        <label class="col-md-2 text-right">{{ form_label(form.categorie_id,'Catégorie') }}</label>
        <div class="col-md-7">
            <div class="form-group">
                 {{ form_widget(form.categorie_id, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 text-right">{{ form_label(form.status)}}</label>
        <div class="col-md-7">
            <div class="form-group">
                {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="text-right mt-3">
        <button type="submit" class="btn btn-info">{{ button_label|default('Enregistrer') }}</button>
        <a href="{{ path('fonctions') }}" class="btn btn-dark">Retour à la liste</a>
    </div>
{{ form_end(form) }}
